@import '../../styles/fonts-mixins.scss';

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
        width: 40%;
        margin-bottom: 0;
        align-items: flex-start;
    }

    ul {
        margin: 0;
    }
}

.infoTitle {
    @include RobotoMedium();
    font-size: 2rem;
    line-height: 1.2;
    color: #32505a;

    &:first-of-type {
        margin-bottom: 3rem;
    }

    &:not(:first-of-type) {
        margin: 3rem 0;
    }
}