@import './../../styles/fonts-mixins.scss';

.footer {
    padding: 2rem 0;
    background-color: #1a2d34;

    @media (min-width: 560px) {
        padding: 3rem 0;
    }
}

.footerWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: 768px) {
        max-width: 73.8rem;
        justify-content: space-between;
    }

    @media (min-width: 1024px) {
        max-width: 90rem;
    }

    @media (min-width: 1440px) {
        max-width: 100rem;
    }

    @media (min-width: 1920px) {
        max-width: 114rem;
    }

    a {
        width: 22rem;
        height: 7rem;
        margin: 0 3rem 2rem 0;

        @media (min-width: 560px) {
            width: 18rem;
            margin: 0 3.5rem 0 0;
        }

        @media (min-width: 768px) {
            width: 23rem;
            margin: 2rem 3rem 2rem 0;
        }

        @media (min-width: 1024px) {
            margin: 0 -4rem 0 0;
        }

        img {
            width: 100%;
        }
    }

    li a {
        margin: 0;
    }
}

.logoText {
    margin-bottom: 2rem;
    @include RobotoBold();
    font-size: 1.4rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;

    @media (min-width: 768px) {
        font-size: 1.8rem;
        margin: 0 0 2rem 0;
    }

    @media (min-width: 1024px) {
        margin: 0 4rem 0 0;
    }
}

.warning {
    height: auto !important;
    width: 100% !important;
    margin: 0 0 2rem 0 !important;
    text-align: center;
    @include RobotoRegular();
    font-size: 1.4rem;
    line-height: 1.2;
    color: #fff;

    @media (min-width: 560px) {
        margin: 0 0 2rem 0 !important;
    }

    @media (min-width: 768px) {
        width: 31rem !important;
        text-align: center;
        margin: 0 0 2rem 0 !important;
        font-size: 1.6rem;
    }

    @media (min-width: 1024px) {
        width: 41rem !important;
        margin-bottom: 0 !important;
    }
}

.footerBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
        margin: 0 4rem;
    }
}

.footerTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}